.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.btn-result {
    background-color: rgb(128, 128, 128);
    border-radius: 25px;
    border: none;
    text-decoration: none;
    padding: 8px 10px;
    margin: 5px;
}

.btn-result-selected {
    background-color: rgb(0, 128, 0);
    color: white;
}

.btn-result:hover {
    background-color: rgb(200, 200, 200);
}

.btn-result-selected:hover {
    background-color: rgb(200, 0, 0);
}

.btn-song-result {
    background-color: rgb(128, 128, 128);
    border-radius: 25px;
    border: none;
    text-decoration: none;
    margin: 5px;
    width: 48%;
    height: 80px;
    cursor: pointer;
}

.btn-song-result-selected {
    background-color: rgb(0, 128, 0);
    color: white;
}

.btn-song-result:hover {
    background-color: rgb(200, 200, 200);
}

.btn-song-result-selected:hover {
    background-color: rgb(200, 0, 0);
}

.span-sign {
    font-weight: bolder;
}

.span-sign-song {
    font-weight: bolder;
	right: 10px;
	position: relative;
	top: -5px;
	font-size: 3.5em;
}

.selection-container {
    margin-bottom: 50px;
}

.hide {
    display: none;
}

.div-song-results {
    flex-direction: row;
    flex-wrap: wrap;
}

#div-loading-recommendations {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
}

#div-loading-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#alert-form-error {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50%;
    width: 40%;
}

#alert-text {
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-container div {
    margin: 5px;
}

.flex-container span {
    font-weight: bolder;
}

.flex-container input[type="checkbox"] {
    display: none;
}

.flex-container label {
    height: 100%;
    display: block;
    background: white;
    border: 2px solid hsl(209, 100%, 50%);
    border-radius: 20px;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
    cursor: pointer;
}

.flex-container label:hover {
    background: hsl(209, 100%, 50%);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px hsla(209, 100%, 50%, 0.5);
}

.flex-container input[type="checkbox"]:checked + label {
    background: rgb(14, 174, 0);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px rgba(14, 174, 0, 0.5);
    border: 2px solid rgb(14, 174, 0);
}

.flex-container input[type="checkbox"]:checked + label:hover {
    background: rgb(174, 0, 0);
    box-shadow: 0px 0px 20px rgba(174, 0, 0, 0.5);
    border: 2px solid rgb(174, 0, 0);
}

/*


Genre Formatting


*/

#genre-container input[type="radio"] {
  display: none;
}

#genre-container {
  display: flex;
  flex-flow: row wrap;
}

#genre-container div {
  flex: 1;
  padding: 0.7rem;
}

#genre-container label:hover {
    background: hsl(209, 100%, 50%);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px hsla(209, 100%, 50%, 0.5);
}

#genre-container label {
  width: 200px;
  height: 80px;
  display: block;
  background: white;
  border: 2px solid hsl(209, 100%, 50%);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
  cursor: pointer;
}

#genre-container label p {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#genre-container input[type="radio"]:checked + label {
  background: hsl(209, 100%, 50%);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(209, 100%, 50%, 0.5);
}

@media only screen and (max-width: 700px) {
  #genre-container {
    flex-direction: column;
  }
}

/*


Genre Formatting


*/