{% extends 'base.html' %}

{% load static %}

{% block title %}

Discover | Tailor

{% endblock %}

{% block style %}

{% static 'css/discover.css' %}

{% endblock %}

{% block content %}
<div id="discover-container">
    <div id="discover-tailor-container">
        <center>
            <p class="font-semibold mb-5 text-xl md:text-3xl">
                Tell us a bit about you...</p>
        </center>
        <div class="hide" id="div-loading-recommendations">
            <div id="div-loading-content">
                <h3>Tailoring your experience...</h3>
                </br>
                <div class="spinner-border" role="status">
                </div>
            </div>
        </div>
        <form
            autocomplete="off"
            method='none'
            id="discover-form">
            {% csrf_token %}
            <div class="selection-container" id="genre-select-container">
                <p class="text-lg">
                    What is your favorite genre?</p>
                <hr class="border rounded border-neutral-300 m-2">
                <div id="genre-container">
                    {% for choice in form.genre %}
                    <div>
                        <input type="radio" name="{{ choice.data.name }}" value="{{ choice.data.value }}"
                            id="{{ choice.data.attrs.id }}" class="noselect choice-genre">
                        <label for="{{ choice.data.attrs.id }}" class="noselect">
                            <p>{{ choice.data.label }}</p></label>
                    </div>

                    {% endfor %}
                </div>
                <hr class="border rounded border-neutral-300 m-2">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn-cont btn btn-outline-primary">Next</button>
                </div>
            </div>
            <div class="hide selection-container" id="artist-search-container">
                <p class="text-lg">
                    Who are your two favorite artists?</p>
                <hr class="border rounded border-neutral-300 m-2">
                <input
                    type="search"
                    placeholder="Search"
                    aria-label="Search" 
                    aria-describedby="search-addon"
                    id="artist-search-bar"
                    class="rounded-full w-full"/>
                </br>
                <div id="artist-results-placeholder">
                    <div id="artist-results-selected" class="flex-container">
                    </div>
                </div>
                <hr class="border rounded border-neutral-300 m-2">
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn-prev btn btn-outline-primary">Previous</button>
                    <button type="button" class="btn-cont btn btn-outline-primary">Next</button>
                </div>
            </div>
            <div class="hide selection-container" id="song-search-container">
                <p class="text-lg">
                    What are your two favorite songs?</p>
                <hr class="border rounded border-neutral-300 m-2">
                <div class="input-group rounded">
                    <input type="search" class="search-bar form-control rounded" placeholder="Search"
                        aria-label="Search" aria-describedby="search-addon" id="song-search-bar" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                </br>
                <div id="song-results-placeholder">
                    <div id="song-results-selected" class="d-flex justify-content-between div-song-results">
                    </div>
                </div>
                <hr class="border rounded border-neutral-300 m-2">
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn-prev btn btn-outline-primary">Previous</button>
                    <button type="submit" id="btn-submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="alert-static alert alert-danger alert-dismissible fade show" role="alert" id="alert-form-error">
        <p id="alert-text">placeholder</p>
        <button id="alert-btn-dismiss" type="button" class="btn-close" aria-label="Close"></button>
    </div>
</div>

<script src="{% static 'scripts/discover/form.js' %}"></script>
{% endblock %}