{% load static %}

<!doctype html>
<html lang="en" data-theme="dark">

<head>
	{% block head %}
	{% endblock %}
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% block style %}{% endblock %}">

	<title>
		{% block title %}
		{% endblock %}
		| Spotify2
	</title>

	<!-- Tailwind CSS -->
	<link href="https://cdn.jsdelivr.net/npm/daisyui@2.13.6/dist/full.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js">
	</script>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>

	<!-- jQuery Cookie -->
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"
		integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>

	<!-- Ajax Popper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
</head>

<body>
	<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-neutral-900 mb-3">
		<div class="flex flex-row justify-between">
			<a href="/">
				<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">
					Spotify2</span></a>
			<div class="flex flex-row justify-between">
				<ul class="mr-8">
					<li>
						<a 
							href="/discover"
							class="block py-2 text-white">
							Discover</a>
					</li>
				</ul>
			</div>
			{% if user.is_authenticated %}
			<button 
				type="button" 
				onclick="window.location.href='/logout'" 
				class="
					text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-full text-sm
					px-5 py-2.5 text-center mr-1 dark:bg-blue-600 dark:hover:bg-blue-700">
				Logout</button>
			{% else %}
			<div class="">
				<button 
					type="button" 
					onclick="window.location.href='/login'" 
					class="
						text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-full text-sm
						px-5 py-2.5 text-center mr-1 dark:bg-blue-600 dark:hover:bg-blue-700">
					Login</button>
				<button 
					type="button" 
					onclick="window.location.href='/signup'" 
					class="
						text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-full text-sm
						px-5 py-2.5 text-center mr-3 dark:bg-blue-600 dark:hover:bg-blue-700">
					Signup</button>

			</div>
			{% endif %}
		</div>
	</nav>
	<div class="
		container
		mx-auto
		">
		{% block content %}
		{% endblock %}
	</div>

	{% block scripts %}
	{% endblock %}

	<span class="mb-5">
	</span>

	<!-- Install Ajax and run custom javascript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>

</html>