{% extends 'base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="playlists">
    <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX0kbJZpiYdZl?utm_source=generator&theme=0"
    height="200" class="rounded w-full mb-5" frameborder="O" allowtransparency="true" allow="encrypted-media"></iframe>

    <iframe src="https://open.spotify.com/embed/playlist/54yCkQLfg9o6Ubs7orSrg7?utm_source=generator"
    height="200" class="rounded w-full" frameborder="O" allowtransparency="true" allow="encrypted-media"></iframe>

</div>
{% endblock %}
